 /* All fonts  */
 @font-face {
   font-family: 'nb';
   src: url('./assets/fonts/NBInternationalProBoo.woff2') format('woff2')
 }

 @font-face {
   font-family: 'rejoy';
   src: url('./assets/fonts/Rejouice-Headline.woff2') format('woff2'),
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html,
 body {
   width: 100%;
   height: 100%;
 }


 #headline {
   font-family: rejoy;
   font-size: 27vw;
   width: 100%;
   height: 100%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: end;
   font-weight: 500;
   position: absolute;
   inset: 0;
   line-height: 22vw;
   z-index: 21;
 }

 #page2Header {
   font-size: 4vw;
   color: black;
   font-weight: 300;
   font-family: nb;
   display: flex;
   align-items: end;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   padding-bottom: 2rem;
 }

 #page2Header span {
   font-size: 1.8vw;
   color: black;
   font-weight: 300;
   font-family: nb;
 }

 .elem h1 {
   font-size: 3.9vw;
   font-weight: 400;
   color: black;
   font-family: nb;
   line-height: 4rem;
 }

 #page1 {
   position: relative;
   width: 100%;
   height: 100vh;
   inset: 0;
 }

 #cursorBall {
   background-color: orangered;
   border-radius: 50%;
   width: 8vw;
   height: 8vw;
   position: fixed;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0px;
 }


 #cursorBallText {
   color: black;
   font-weight: 500;
   font-size: 1.2vw;
 }

 #homeVideo {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   inset: 0;
 }

 #page1-content {
   position: relative;
   inset: 0;
   width: 100%;
   height: 100%;
 }

 #page2 {
   position: relative;
   inset: 0;
   margin-top: 4rem;
   width: 100%;
   height: 100vh;
 }

 .elem {
   width: 100%;
   padding-top: 3rem;
   padding-right: 2rem;
   padding-left: 2rem;
 }

 #navbar {
   display: flex;
   width: 100%;
   height: 90px;
   align-items: center;
   justify-content: space-between;
   color: white;
   font-size: 1.4vw;
   font-family: nb;
   z-index: 20;
   position: relative;
   inset: 0;
   padding-right: 2rem;
   padding-left: 2rem;
 }

 .straightLine {
   width: 100%;
   display: flex;
   height: 1px;
   position: absolute;
   left: 0;

   background-color: black;
 }

 #hellodiv {
   position: relative;
   inset: 0;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
 }

 #page3 {
   text-align: center;
   width: 100%;
   height: fit-content;
   font-family: nb;
   padding: 4rem;

 }

 #page3-topbar {
   font-size: 1.4vw;
   font-weight: 500;
   margin-bottom: .7rem;
 }

 #page3-topbar span {
   font-size: .7rem;
   width: fit-content;
   height: fit-content;
   background-color: black;
   color: white;
   padding: .3rem .6rem;
   border-radius: 25px;
 }

 .explore {
   font-size: 5vw;
   font: 800;
 }


 #page4 {
   width: 100%;
   height: fit-content;
   font-family: nb;
   font-size: 1.6vw;
   margin-top: 4rem;
 }

 #page4-topbar {
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1280px;
   margin: 0 auto;
 }